{% extends 'base.html' %}
{% load staticfiles i18n %}

{% block content %}
  <div class="inner cover">
    <p class="lead" style="color:#8FD56C; font-size:24pt;">{{letters}}</p>

      {% if words %}
        {% for word in words %}
            <span class="lead"><a style="color:#FFF3CB; font-size:18pt;" href="{% trans "http://lema.rae.es/drae/?val=" %}{{ word }}">{{ word }}</a></span><br>
        {% endfor %}
      {% else %}
        <span class="lead">{% trans "No hay palabras con esas letras" %}
      {% endif %}
      <br>
      <a style="color:#B3E2FF; font-size:18pt;" href="{% url "home" %}">{% trans "Prueba otra vez" %}</a></span><br>

  </div>
{% endblock %}
